#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.logo { height: 3.5em; padding: 0.5em; transition: filter 300ms, transform 300ms; }
.logo:hover { filter: drop-shadow(0 0 2em #646cffaa); transform: translateY(-2px); }
.logo.react:hover { filter: drop-shadow(0 0 2em #61dafbaa); }

.card { padding: 2rem; }

.read-the-docs { color: #888; }

/* small utility */
.center { display:flex; align-items:center; justify-content:center; }
